/* General Styles */
body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 50px;
    padding: 20px;
    max-width: 600px;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
}

/* Buttons */
button {
    padding: 12px 20px;
    margin: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.start-btn {
    background-color: #007bff;
    color: white;
}

.start-btn:hover {
    background-color: #0056b3;
}

.stop-btn {
    background-color: #dc3545;
    color: white;
}

.stop-btn:hover {
    background-color: #b71c1c;
}

.change-interval-btn{
    background-color: #ffc107;
    color: white;
}


.change-interval-btn:hover {
    background-color: #ff9800;
}

.abort-btn {
    background-color: #6c757d;
    color: white;
}

.abort-btn:hover {
    background-color: #5a6268;
}


/* Status Indicator */
.status {
    margin-top: 20px;
    font-size: 18px;
}

.status span {
    font-weight: bold;
}

.active {
    color: #28a745;
}

.inactive {
    color: #d9534f;
}

/* Responsive */
@media (max-width: 600px) {
    .container {
        width: 90%;
        padding: 15px;
    }

    button {
        width: 100%;
        font-size: 14px;
    }
}


/* Logs */
.log-box {
    background: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
    max-height: 150px;
    overflow-y: auto;
}

/* Screenshot Gallery */
.screenshot-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.screenshot-gallery img {
    width: 100px;
    height: auto;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.settings-container {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    background: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.settings-container h2,
.settings-container h3 {
    text-align: center;
}

.settings-container label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

.settings-container input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.save-btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.save-btn:hover {
    background: #218838;
}

